@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  // background: $background;
}